/ProjectAir_PCB/History
/ProjectAir_PCB/Project Logs for ProjectAir_Pcb
*.hex
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep          
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*.Administrator
*.uvopt